@import "site-bars";

body {
  background: transparent;
}

.header-section {
  padding-top: 100px;
}

.site > #page-wrapper > section:not(.header-section) {
  padding: 0;
}

section {
  position: relative;
}

.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
}

.site {
  z-index: 2;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.event-headline {
  text-transform: capitalize;
}

.social-menu {
  margin: 0;
  padding: 0;
}

.site section p {
  font-size: 22px;
}

h1, h2, h3 {
  font-weight: 900;
}

.add-bottom {
  margin-bottom: 30px;
}

.site #page-wrapper > section:nth-child(even) {

}
.site #page-wrapper > section:nth-child(odd) {

}

.panel-title {
  font-size: 21px;
}

.nav-section-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 199;
  background: #FFF;
}



.logo-wrapper {
  left:0;
  top: 0;
}



.ticket-cta-wrapper {
  /*position: absolute;*/
  right:0;
  top: 0;
  padding: 23px 20px;
}

.logo-wrapper img {
  height: 60px;
}

.logo-wrapper a {
  margin: 0;
  padding: 20px 0 ;
  display: block;
}

.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity .75s ease-in-out;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
}

.wrapper {
   padding: 0 !important;
}

.nav-section .nav-link {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 19px;
  color: $gray-dark;
}

a.anchor {
  display: block;
  position: relative;
  top: -155px;
  visibility: hidden;
}



.highlight-image {
  display: inline-block;
}

.highlight-wrapper {
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px;
}

.carousel-item {
  background-position: center;
  background-size: cover;
}

.no-padding {
  padding: 0 !important;
}

section h2 {
  margin-bottom: 20px;
}

.section-headings {
  margin-bottom: 25px;
}

.section-headings h2 {
  margin-bottom: 10px;
}

.slider-section .content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex!important;
  align-items: center!important;
  z-index: 2;
}

#wrapper-footer section {
  padding: 0px 0;
}

#wrapper-footer .social-section {
  padding-top: 0 !important;
}

.social-section a {
  font-size: 20px;
}

.social-menu-section {
  display: inline-block;
}

.logo-wrapper {
  z-index: 5;
}

#content {
  padding: 40px 0;
}

.image-section .alt-container {
  display: none;
}

.image-section img {
  min-width: 100%;
}

.interior-title {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 0;
}


#navbarNavDropdown .navbar-nav .nav-link {
  text-align: center;
}

.mobile-number-cta {
  line-height: 40px;
  font-weight: 900;
  text-align: right;
  font-size: 25px;
}

.mobile-number-cta a {
  color: #FFF;
}

.nav-section.tablet {
  display: none;
}

.nav-section.desktop .interior-title {
  line-height: 80px;
}


.nav-section-nav .primary-menu {
  padding: 20px 0;
}

.primary-menu .nav-link {
  padding: 0 1em;
  line-height: 56px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
  white-space: nowrap;
}

.right-content-wrapper {
  display: flex;
  align-items: center;
}

.header-content-section {
  padding: 15px 0 0!important;
}

.header-content-section .alt-container {
  display: none;
}

.btn-lg {
  padding: .65rem 1.5rem;
}

.navbar-toggleable-lg {
  min-height: 60px;
}

#single-wrapper {
  margin-top: 50px;
}

.video-section {
  height: 86vh;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.video-background {
  background: transparent;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.nav-section-nav .active .nav-link {
  text-decoration: underline;
}



.side-bar-toggle {
  display: inline-block;
  height: 100px;
  font-size: 45px;
  font-weight: 900;
  line-height: 100px;
  padding-left: 15px;
}

.swarm-footer {
  background: #000;
  color: #FFF;
  padding: 30px;
}

.section-headings h2 span {
  background: transparent;
  padding: 0 15px;
}

.menu-container a.side-bar-toggle {
  color: #FFF;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.66);
}
.menu-container a.side-bar-toggle:hover {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.66);
  color: #000;
}

.menu-container a.side-bar-toggle  .navbar-toggler-icon{
  color: #FFF;
}
.menu-container a.side-bar-toggle:hover .navbar-toggler-icon {
  color: #000;
}

.close {
  line-height: 18px;
  margin-bottom: 15px;
}

.modal-header {
  padding: 0 15px;
}

.nav-section-independent {
  padding: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 100px;
  z-index: 10;
}


section {
  border-bottom: 30px solid #FFFFFF;
}
.header-section {
  border-bottom: 0;
}
.menu-container {
  margin: 0;
}
.nav-link {
  line-height: 60px;
  text-transform: uppercase;
}
.btn-highlight {
  background-color: transparent !important;
  border-color: #FFFFFF !important;
  border-radius: 0;
  border-width: 2px;
  text-transform: uppercase;
}
.btn-highlight:hover {
  background-color: #fa7fb5 !important;
}

.button-outline-style-all-white {
  border-radius: 0;
  border-width: 2px;
  color: #FFFFFF !important;
  text-transform: uppercase;
  padding: 20px 40px;
  background-color: transparent !important;
  border-color: #FFFFFF !important;
  font-weight: 500;
}
.button-outline-style-all-white:hover {
  background-color: #fa7fb5 !important;
}
.button-outline-style {
  border-radius: 0;
  border-width: 2px;
  color: #2baae1 !important;
  text-transform: uppercase;
  padding: 20px 40px;
  font-weight: 500;
}
.button-outline-style:hover {
  color: #fff !important;
}
.button-outline-style-white {
  border-radius: 0;
  border-width: 2px;
  color: #FFFFFF!important;
  border-color: #FFF !important;
  text-transform: uppercase;
  font-weight: 600;
}
.button-outline-style-white-border {
  border-color: #FFF !important;
  padding: 20px 40px;
  font-weight: 500;
}
.email-newsletter input {
  border-radius: 0;
  border: 2px solid white;
  background: transparent;
  color: #ffda43;
  height: 50px;
  border-right: 0;
}
.email-newsletter input::placeholder {
  color: #ffda43;
}
.btn-newsletter {
  border-radius: 0;
  border: 2px solid white;
  background: transparent;
  color: #FFFFFF;
  height: 50px;
}
.btn-newsletter:hover {
  background: #FFFFFF;
  color: #0098cf;
}
.email-newsletter .form-control:focus {
  background: transparent;
}
#caldera_form_1 .row .first_col {
  padding-right: 0;
}
#caldera_form_1 .row .last_col {
  padding-left: 0;
}
.social-footer img {
  height: 35px;
  width: 35px;
  max-width: none;
}
.social-footer a {
  margin-right: 15px
}
.footer-link a {
  color: #0098cf !important;
  font-weight: 900;
}
.button-item-link {
  color: #FFFFFF !important;
}
.button-item {
  border: 3px solid white;
  padding: 10px 0;
  text-align: center;
  width: 300px;
  cursor: pointer;
  color: #FFF !important;
}
.button-item .line-1 {
  font-size: 42px;
  line-height: 45px
}
.button-item .line-2 {
  font-size: 32px
}
.button-item:hover {
  background-color: #fa7fb5 !important;
  text-decoration: none;
}
#pt-cv-view-df08bfb5pr .pt-cv-title a {
  background-color: #148fbf;
  display: block;
  padding: 7px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  margin-top: -10px;
}
.lead-2.h2-1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 57px;
  letter-spacing: 10px;
  margin-bottom: 0;
}
hr {
  border-top: 1px solid rgb(255, 255, 255);
}
b {
  font-weight: 700;
}
.h3, h3 {
  font-size: 1.75rem;
  font-weight: 600 !important;
  color: #148fbf;
}
.nav-section-nav .active .nav-link {
  color: #F4C300 !important;
  text-decoration: none;
}
.nav-section-wrapper #menu-primary-1 > li > a {
  color: #ffffff;
  padding: 0;
  line-height: 70px;
  margin: 15px 11px 0;
  border-bottom: 15px solid #148fbf;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown:hover .dropdown-menu {
  display: block;
  border-top: 5px solid #e27fab;
  margin-top: -5px;
}
.dropdown-menu {
  border-radius: 0;
  background-color: #f5c300;
  white-space: nowrap;
  padding: 12px 0;
  margin: 0 11px 0;
  border: 0;
}
.dropdown-menu .menu-item a.nav-link {
  margin: 0;
  line-height: 36px;
  padding: 0 30px;
}
.dropdown-menu .menu-item > a.nav-link:hover{
  background-color: #f5c300;
  color: #148fbf !important;
}
.dropdown-menu .active .nav-link {
  color: #0097cd!important;
}
.nav-section-wrapper #menu-primary-1 > li > a:hover{
  color: #f5c300 !important;
}
h1.h1-1 small {
  font-size: 37px;
  display: block;
  font-weight: 900;
}
h1.h1-1 {
  text-transform: uppercase;
  font-size: 45px;
  line-height: 50px;
  font-weight: 900;
  margin-bottom: 0;
  padding: 30px 0;
}
.flare-square-1 {
  height: 160px;
  width: 160px;
  background-image: url('//cgaf.flywheelsites.com/wp-content/uploads/2017/11/flare-square.jpg');
  background-size: contain;
  background-position: center;
}
.max-img {
  min-width: 100%;
}
.pt-cv-ctf-artist_name,
.pt-cv-ctf-medium,
.pt-cv-ctf-date_and_time,
.pt-cv-ctf-location,
.pt-cv-title,
.pt-cv-ctf-booth_number
{
  max-width: 100%;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Gotham Thin";
  font-weight: 600;
}
.pt-cv-ctf-artist_name { margin-bottom: 5px; }
.pt-cv-ctf-artist_name ul { margin: 0; padding: 0 }
.pt-cv-ctf-artist_name li { list-style: none }
.pt-cv-ctf-medium { margin-bottom: 30px; }
.pt-cv-ctf-date_and_time { margin-bottom: 5px;}
.pt-cv-ctf-location {}
.pt-cv-mask .pt-cv-custom-fields {
  margin-top: 0;
}
.nav-section-nav ul:not(.dropdown-menu) > .active > .nav-link {
  color: #f5c300 !important;
  text-decoration: underline;
}
.site-main.posts {
  background-color: #FFF;
}
.blog-intro {}
.blog-intro .word {}
.blog-intro .spacer {}

.cvp-live-filter, .cvp-live-button, .cvp-live-reset, .cvp-live-submit {
  display: inline-block;
}

.cvp-search-box input,
.cvp-dropdown select {
  border: 2px solid #148fbf;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  min-width: 220px;
}

.pt-cv-wrapper {
  text-align: center;
}

.cvp-live-filter .cvp-label {
  font-weight: 600;
  margin-right: 10px;
  display: block;
  text-transform: uppercase;
  color: #148fbf;
  text-align: left !important;
}

.cvp-live-button .cvp-live-submit {
  background-color: #148fbf!important;
  border-color: #fff!important;
  border-radius: 0;
  border-width: 0;
  text-transform: uppercase;
  font-family: "Gotham";
  font-size: 16px;
  padding: 9px 31px;
  margin-right: 20px;
}

.cvp-live-reset {
  margin: 15px 0 0 0;
  text-transform: uppercase;
}

body {
  color: #7e7e7e;
  font-family: "Gotham";
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-weight: 500;
}
h2 {
  font-weight: 600;
}

.brand-blue-bg {
  background-color: #148FBF;
}
.brand-blue {
  color: #148FBF;
}
.brand-blue-light {
  color: #6BB4E1;
}
.brand-pink {
  color: #F381B2;
}
.brand-yellow {
  color: #FDDA47;
}
.brand-pink-light {
  color: #F5B2C8;
}
.brand-green {
  color: #86D0CD;
}
.brand-white {
  color: #FFF;
}

.brand-bold {
  font-family: "Gotham Bold";
}

.brand-medium {
  font-family: "Gotham";
}

.brand-thin {
  font-family: "Gotham Thin";
}

.h1 {
  font-size: 55px;
}

.h2 {
  font-size: 46px;
}

.attachment-full.size-full {
  min-width: 100%;
}

#information-nav-collapse {

  .card {
    border-radius: 0;
    .card-header {
      border-radius: 0;
      background: #148fbf;
      a {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 16px;
      }
    }
  }

}

.pt-cv-gls-menu li a {
  padding: 10px 15px !important;
}

.pt-cv-gls-menu li a.pt-active {
  color: #fff !important;
}

.pt-cv-gls-header {
  color: #FFF!important;
  font-size: 27px!important;
}

@import "mobile";