@import "site-bars";

body {
  padding: 40px 0;
  background: transparent;
}

section {
  position: relative;
}

.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
}

.site {
  z-index: 2;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.event-headline {
  text-transform: capitalize;
}

.social-menu {
  margin: 0;
  padding: 0;
}

.site > #page-wrapper > section {
  padding: 60px 0;
}

.site section p {
  font-size: 22px;
}

h1, h2, h3 {
  font-weight: 900;
}

.add-bottom {
  margin-bottom: 30px;
}

.site #page-wrapper > section:nth-child(even) {

}
.site #page-wrapper > section:nth-child(odd) {

}

.panel-title {
  font-size: 21px;
}

.nav-section-wrapper {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 3;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
  background: #FFF;
}

.nav-section {
  padding: 27px;
}

.logo-wrapper {
  left:0;
  top: 0;
}



.ticket-cta-wrapper {
  /*position: absolute;*/
  right:0;
  top: 0;
  padding: 23px 20px;
}

.logo-wrapper img {
  height: 60px;
}

.logo-wrapper a {
  margin: 0;
  padding: 20px 0 ;
  display: block;
}

.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity .75s ease-in-out;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
}

.wrapper {
   padding: 0 !important;
}

.nav-section .nav-link {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 19px;
  color: $gray-dark;
}

a.anchor {
  display: block;
  position: relative;
  top: -155px;
  visibility: hidden;
}

.header-section {
  margin-top: 100px;
  height: 0;
  padding: 0 !important;
}

.highlight-image {
  display: inline-block;
}

.highlight-wrapper {
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px;
}

.carousel-item {
  background-position: center;
  background-size: cover;
}

.no-padding {
  padding: 0 !important;
}

section h2 {
  margin-bottom: 20px;
}

.section-headings {
  margin-bottom: 25px;
}

.section-headings h2 {
  margin-bottom: 10px;
}

.slider-section .content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex!important;
  align-items: center!important;
  z-index: 2;
}

#wrapper-footer section {
  padding: 60px 0;
}

#wrapper-footer .social-section {
  padding-top: 0 !important;
}

.social-section a {
  font-size: 20px;
}

.social-menu-section {
  display: inline-block;
}

.logo-wrapper {
  z-index: 5;
}

#content {
  padding: 40px 0;
}

.image-section .alt-container {
  display: none;
}

.image-section img {
  min-width: 100%;
}

.interior-title {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 0;
}

@media (max-width: 767px) {

  body {
    padding: 20px 0 0;
  }

  .slider-section {
    display: none;
  }

  .header-section {
    padding: 0;
    margin-top: 176px;
  }

  .site > #page-wrapper > section {
    padding: 15px 0;
  }

  p {
    text-align: center;
  }

  #footer-bar {
    position: relative;
    height: auto;
  }

  #wrapper-footer section {
    padding: 20px 0;
  }

  nav {
    position: fixed !important;
    top: 140px;
    left: 0;
    right: 0;
    z-index: 16;
  }

  .logo-wrapper {
    right: 0;
    text-align: center;
    display: block;
  }

  #content {
    padding: 40px 25px;
  }

  .navbar-collapse {
    max-height: 50vh;
    overflow: auto;
  }



}

#navbarNavDropdown .navbar-nav .nav-link {
  text-align: center;
}

.mobile-number-cta {
  line-height: 40px;
  font-weight: 900;
  text-align: right;
  font-size: 25px;
}

.mobile-number-cta a {
  color: #FFF;
}

@media (min-width: 768px) {


}

@media (min-width: 500px) and (max-width: 768px){
  .nav-section-wrapper {
    top: 34px;
  }
  .text-xs-center {
    text-align: center;
  }
  .site-bar {
    height: 34px;
    line-height: 24px;
    padding: 5px 5px;
  }
  .text-sm-left{
    display: inline-block;
    float: left;
  }
  .text-sm-right {
    display: inline-block;
    float: right;
  }
  nav {
    top: 134px;
  }
  .header-section {
    margin-top: 152px;
  }
}

@media (max-width: 500px){
  .text-sm-left,
  .text-sm-right {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .nav-section .nav-link {
    font-size: 20px;
    line-height: 60px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .nav-section .nav-link {
    font-size: 16px;
  }
}

@media (min-width: 768px) {

  .ticket-cta-wrapper {
    padding: 14px 10px;
  }
  .nav-section-wrapper {
  }
  .nav-section {
    padding: 0px;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.18);*/
  }
}

.nav-section.tablet {
  display: none;
}

.nav-section.desktop .interior-title {
  line-height: 80px;
}

@media (max-width: 1321px) {
  .header-section {
    margin-top: 156px;
  }
}

@media (min-width: 769px) and (max-width: 1321px){
  .nav-section.desktop {
    display: none;
  }
  .nav-section.tablet {
    display: block;
    background: #DDD;
  }
  .nav-section.tablet .nav-link {

  }
  .logo-wrapper img {
    max-width: initial;
  }
  nav {
    position: fixed!important;
    top: 140px;
    left: 0;
    right: 0;
    z-index: 16;
  }
  .nav-section .primary-menu {

  }
  .nav-section-nav .primary-menu {
    display: none;
  }
}

.nav-section-nav .primary-menu {
  padding: 20px 0;
}

.primary-menu .nav-link {
  padding: 0 1em;
  line-height: 56px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
  white-space: nowrap;
}

@media (min-width: 769px) and (max-width: 943px){
  .nav-section.tablet .nav-link {
    font-size: 15px;
  }
}

.right-content-wrapper {
  display: flex;
  align-items: center;
}

.header-content-section {
  padding: 15px 0 0!important;
}

.header-content-section .alt-container {
  display: none;
}

@media (max-width: 988px) {

  .right-content {
    padding: 40px 0;
  }

  a.anchor {
    top: -190px;
  }

  .header-section {
    margin-top: 100px;
  }

}

@media (max-width: 739px) {

  .header-section {
    margin-top: 170px;
  }

}

@media (min-width: 770px) and (max-width: 988px) {

  .right-content {
    padding: 40px 0;
  }


}

#single-wrapper {
  margin-top: 50px;
}

.video-section {
  height: 86vh;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.video-background {
  background: transparent;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
  .video-background iframe {
    top: 140px;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
  .video-background iframe {
    top: 140px;
  }
}

.nav-section-nav .active .nav-link {
  text-decoration: underline;
}

.nav-section.tablet {
  top: 140px;
  z-index: 15;
  position: fixed;
  bottom: auto;
}

.side-bar-toggle {
  display: inline-block;
  height: 100px;
  font-size: 45px;
  font-weight: 900;
  line-height: 100px;
  padding-left: 15px;
}

.swarm-footer {
  background: #000;
  color: #FFF;
  padding: 30px;
}

.section-headings h2 span {
  background: transparent;
  padding: 0 15px;
}

.menu-container a.side-bar-toggle {
  color: #FFF;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.66);
}
.menu-container a.side-bar-toggle:hover {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.66);
  color: #000;
}

.menu-container a.side-bar-toggle  .navbar-toggler-icon{
  color: #FFF;
}
.menu-container a.side-bar-toggle:hover .navbar-toggler-icon {
  color: #000;
}

.close {
  line-height: 18px;
  margin-bottom: 15px;
}

.modal-header {
  padding: 0 15px;
}