.mobile-debug {
  position: fixed;
  z-index: 99999999999999999999999999999;
  left:0;
  right: 0;
}
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
@include media-breakpoint-only(xs) {

}
@include media-breakpoint-only(sm) {

}
@include media-breakpoint-only(md) {

}
@include media-breakpoint-only(lg) {



}
@include media-breakpoint-only(xl) {

}
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
@include media-breakpoint-down(xs) {  }
@include media-breakpoint-down(sm) {  }
@include media-breakpoint-down(md) {  }
@include media-breakpoint-down(lg) {



}
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) {



}
@include media-breakpoint-up(xl) {


}
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

.bg-inverse {
  background-color: #148fbf!important;
}

.navbar-toggler {
  border: 2px solid white;
  border-radius: 0;
  border-color: white !important;
  line-height: 38px;
  width: 52px;
  font-size: 28px;
}

@media (max-width: 1355px) {

  .nav-section-wrapper #menu-primary-1>li>a {
    margin: 15px 7px 0;
    font-size: 14px;
  }

}
@media (max-width: 1186px) {

  .header-section {
    padding-top: 154px;
  }

  .nav-section-nav {
    display: none
  }

  .nav-section.tablet {
    display: block;
    z-index: 15;
    position: fixed;
    left: 0;
    right: 0;
  }

  .nav-section .active .nav-link{
    color: #e3bd39 !important;
  }

  .nav-section.tablet  {
    border-bottom: 0;
    top: 100px;
  }

  .nav-section-wrapper {
    box-shadow: none;
  }

  .nav-section .nav-link {
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
    line-height: 40px;
  }

}
@media (max-width: 970px) {

  section {
    border-bottom: 15px solid #fff;
  }

  .nav-section.tablet {
    display: block;
    z-index: 15;
    position: fixed;
    left: 0;
    right: 0;
  }

}
@media (max-width: 940px) {

  #navbarNavDropdown ul.dropdown-menu {
    position: relative;
  }

  #navbarNavDropdown ul.dropdown-menu > li  {
    position: relative;
    float: none;
  }

  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .header-section {
    padding-top: 160px;
  }

  .nav-section.tablet {
    .nav-section .nav-link {
      font-size: 12px;
    }
  }

  .section- .carousel-item {
    height: 550px;
  }

  .mobile-menu-nav {
    display: block;
    top:100px;
    z-index: 15;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 10px;
  }

  .tablet-menu-nav {
    display: none;
  }

}

@media (max-width: 760px) {

  .nav-section.tablet {
    display: none;
  }

  .cgaf-logo img {
    height: 100px;
    padding: 20px 0;
    margin-right: 10px;
  }
  .spacer {
    display: none;
  }
  .button-item {
    width: 100%;
    margin-bottom: 10px;
  }
  .email-newsletter input {
    border-right: 2px solid #fff;
  }

  .ticket {
    width: 100% !important;
  }

}

@media (max-width: 450px) {

  .h1 {
    font-size: 10vw;
  }

  .h2 {
    font-size: 8vw;
  }

  .site section p {
    font-size: 5vw;
    font-family: "Gotham Thin";
  }

  .vip-pack .card-header {
    font-size: 8vw;
  }
  .vip-pack .h3 {
    font-size: 5vw;
  }

  .social-footer .h3 {
    font-size: 7vw;
  }

}

.navbar-collapse > ul > li .nav-link {
  line-height: 30px;
}

#navbarNavDropdown {
  overflow: scroll;
  height: 66vh;
}